[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/eigenlayer-middleware"]
	path = contracts/lib/eigenlayer-middleware
	url = https://github.com/layr-labs/eigenlayer-middleware.git
[submodule "contracts/lib/avs-commonware-counter"]
	path = contracts/lib/avs-commonware-counter
	url = https://github.com/BreadchainCoop/avs-commonware-counter
[submodule "contracts/lib/hourglass-monorepo"]
	path = contracts/lib/hourglass-monorepo
	url = https://github.com/Layr-Labs/hourglass-monorepo
